.copy-code-container {
    display: flex;
    justify-content: flex-end;
    padding: 3px;
    background: $feedback-color;
    border-radius: 5px;
<<<<<<< HEAD
=======

>>>>>>> 447d26e576a5cffce0218705cb4c2c752992ccfd
  }
  
  .copy-code-button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      cursor: pointer;
      font-size: .75rem;
      background-color: $base-button-color;
      color: $body-text-color;
      padding: 0.2em 0.5em;
      border-radius: 5px;
  
      &::before {
          content: "Copy";
      }
  
      &::after {
          margin-left: 4px;
          content: "📋";
          width: 1em;
      }
  
      // This class will be toggled via JavaScript
      &.copied {
          &::before {
              content: "Copied!";
          }
  
          &::after {
              content: "✔️";
          }
      }
  }